body {
    background: url(../img/coffe_beans.jpg) no-repeat;
    background-size: cover;
    margin: 0;
}

.nav__back {
    opacity: 0;
}

.main__container--home {
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text--home {
    color: #fff;
    font-family: 'Capriola', sans-serif;
    font-size: 3.5rem;
    margin-bottom: 1rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.text--hello {
    font-size: 5rem;
    margin-bottom: 1rem;
}

.circle {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 0.2rem solid #fff;
    animation: circle 2s ease-out infinite both;
}

.circle:hover {
    cursor: pointer;
}

.text--home a {
    text-decoration: none;
    color: #fff;
}

.text--home a:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

@keyframes circle {
    0%,20% {
        opacity: 1;
        transform: scale(0);
    }
    80%,100% {
        opacity: 0;
        transform: scale(1);
    }
}