body {
    background-color: #fff;
    margin: 0;
}

/* order_choice page */

.main__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main__container--page1 {
    margin-top: 10rem;
    height: 50vh;
}

.text--page1 {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}

.text--question {
    font-weight: 600;
    margin-bottom: 1.5em;
    text-align: center;
}

.boxes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 1em;
}

.boxes a {
    text-decoration: none;
    color: #000;
}

.box {
    width: 15rem;
    height: 17.5rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0 0 1.2rem 0 rgba(0, 0 ,0 , 0.15);
    -moz-box-shadow: 0 0 1.2rem 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 1.2rem 0 rgba(0, 0, 0, 0.15);
    transition: background-color 0.5s, color 0.5s;
}

.box:hover {
    color: #fff;
    background-color: #000;
}


/* end_of_order page */

.main__container--pagelast {
    margin-top: 7rem;
    height: 50vh;
}

.text--pagelast {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}

img {
    width: 1em;
    transform: rotate(205deg);
    margin-bottom: 1.5em;
    margin-top: -0.8em;
    margin-left: 3.6em;
}

.txt1 {
    font-weight: 600;
    width: 100%;
    margin-bottom: 1.5em;
    text-align: center;
}

.txt2 {
    font-weight: 400;
    text-align: center;
    font-size: 0.75em;
    line-height: 1.2;
}

.text--pagelast a {
    text-decoration: none;
    color: #000;
}

.button--neworder {
    font-size: 1.5rem;
    width: 12.5rem;
    padding: 0.5rem;
    border-radius: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0 0 1.2rem 0 rgba(0, 0 ,0 , 0.15);
    -moz-box-shadow: 0 0 1.2rem 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 1.2rem 0 rgba(0, 0, 0, 0.15);
    transition: background-color 0.5s, color 0.5s;
}

.button--neworder:hover {
    color: #fff;
    background-color: #000;
}